/* body */

body {background-color:#C2DCE2;}

#main_section {
    width:100%; margin:0 auto; overflow:hidden; background-color:#C2DCE2;
}

.table {
    margin:20px auto;
    background-color:white;
}

.th { width : 105px;}


h1 {text-align:center;}
td {text-align:center;}
.content {text-align:left;}


/* .page {margin:40px auto; text-align:center;} */