/* body */
body {background-color:#C2DCE2;}

#main_section {
    max-width: 1200px;
    width:100%; margin:0 auto; overflow:hidden;
}

/* #chm_main {
    width:600px; margin:20px auto;
} */

h1 {text-align:center;}

/* .page {margin:40px auto; text-align:center;} */