*{
    margin: 0; padding: 0;
}

body{
    /* font-family: sans-serif; */
    /* width: 1080px; */
    
    height: auto;
    margin: 0 auto;
    background-color: #f5ebdc;
    
}

#full{
  width: 100%;
  max-width: 1100px;
  height: auto;
    /* position:; */

  margin: 0 auto;
  margin-top: 50px;
}


.season_front img{
    border-radius: 200px 200px 200px 200px;
}

.season_back img{
  border-radius: 200px 200px 200px 200px;
}

#content {
  
    display: inline-block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.season_front, .season_back {
    float: left;
  
    width:100%;
    max-width: 500px;
    height: 100%;
    max-height: 350px;
    transition: transform 1s;
    backface-visibility:hidden;
}
 
.season_back { 
  position: absolute;
  transform: rotateY(180deg); 
}

#spring{
  float: left;
 
  width:100%;
  max-width: 500px;
  height: 100%;
  max-height: 350px;
  margin-bottom: 50px;
}

#summer{
  float: right;
  
  width:100%;
  max-width: 500px;
  height: 100%;
  max-height: 350px;
  margin-bottom: 50px;
}

#fall{
  float: left;
  width:100%;
  max-width: 500px;
  height: 100%;
  max-height: 350px;
  margin-bottom: 50px;
}

#winter{
  float: right;
  width:100%;
  max-width: 500px;
  height: 100%;
  max-height: 350px;
  margin-bottom: 50px;
}

#content img{
  width: 500px;
  height: auto;
}


#footer{
  margin-top: 30px;
  width: 100%;
  height: auto;
  float: left;
}

#spring:hover .season_front{ transform: rotateY(180deg); }
#spring:hover .season_back { transform: rotateY(360deg); }

#summer:hover .season_front{ transform: rotateY(180deg); }
#summer:hover .season_back { transform: rotateY(360deg); }

#fall:hover .season_front{ transform: rotateY(180deg); }
#fall:hover .season_back { transform: rotateY(360deg); }

#winter:hover .season_front{ transform: rotateY(180deg); }
#winter:hover .season_back { transform: rotateY(360deg); }


@media screen and (max-width : 1190px) {
  #full{
   
      max-width: 900px;
  }

  #content {
      max-width:900px;
  }
  #spring{

    max-width: 400px;
    max-height: 300px;
  }

  #fall{
    max-width: 400px;
    max-height: 300px;

  }
  #summer {
    max-width: 400px;
    max-height: 300px;
  
  }
  #winter{
    max-width: 400px;
    max-height: 300px;
  
  }

  .season_front, .season_back {
   
    max-width: 400px;
    max-height: 300px;
   
  }
}



@media screen and (min-width : 504px)and (max-width :912px) {
  #full{
   
      max-width: 502px;
  }

  #content {
      max-width:502px;
  }
  #spring{

    max-width: 500px;
    max-height: 300px;
  }

  #fall{
    max-width: 500px;
    max-height: 300px;

  }
  #summer {
    max-width:500px;
    max-height: 300px;
  
  }
  #winter{
    max-width: 500px;
    max-height: 300px;
  
  }

  .season_front, .season_back {
   
    max-width: 500px;
    max-height: 300px;
   
  }
}


@media screen and (max-width :503px) {
  #full{
   
      max-width: 320px;
  }

  #content {
      max-width:320px;
  }
  #spring{

    max-width: 319px;
    max-height: 200px;
  }

  #fall{
    max-width: 319px;
    max-height: 200px;

  }
  #summer {
    max-width: 319px;
    max-height: 200px;
  
  }
  #winter{
    max-width: 319px;
    max-height: 200px;
  
  }

  .season_front, .season_back {
   
    max-width: 319px;
    max-height: 200px;
   
  }
}

