*{
    margin: 0; padding: 0;
}

body{
    /* font-family: sans-serif; */
    /* width: 1080px; */
    
    height: auto;
    margin: 0 auto;
    background-color: #f5ebdc;
    
}

#full{
  width: 1100px;
  height: auto;
    /* position:; */

    margin: 0 auto;
    margin-top: 50px;
}


.season_front img{
    border-radius: 200px 200px 200px 200px;
}

.season_back img{
  border-radius: 200px 200px 200px 200px;
}

#content {
    /* float: left;
    /* position: relative; */
    /* width: 100%;
    max-width: 1200px; 
    height: auto;  */
    display: inline-block;
    width: auto;
    max-width: 1200px;
    margin: 0 auto;
}
.season_front, .season_back {
    float: left;
  
    width: 500px; height: 300px;
    transition: transform 1s;
    backface-visibility:hidden;
}
 
.season_back { 
  position: absolute;
  transform: rotateY(180deg); 
}

#spring{
  float: left;
 
  width: 500px;
  height: 350px;
  margin-bottom: 50px;
}

#summer{
  float: right;
  
  width: 500px;
  height: 350px;
  margin-bottom: 50px;
}

#fall{
  float: left;
 
  width: 500px;
  height: 350px;
}

#winter{
  float: right;
 
  width: 500px;
  height: 350px;
}

#content img{
  width: 500px;
  height: auto;
}


#footer{
  margin-top: 30px;
  width: 100%;
  height: auto;
  float: left;
}

#spring:hover .season_front{ transform: rotateY(180deg); }
#spring:hover .season_back { transform: rotateY(360deg); }

#summer:hover .season_front{ transform: rotateY(180deg); }
#summer:hover .season_back { transform: rotateY(360deg); }

#fall:hover .season_front{ transform: rotateY(180deg); }
#fall:hover .season_back { transform: rotateY(360deg); }

#winter:hover .season_front{ transform: rotateY(180deg); }
#winter:hover .season_back { transform: rotateY(360deg); }


@media screen and (max-width : 1190px) {
  #full{
    width: 500px;
  }

  #content {
      width:300px;
  }
  

  #summer {
    float: left;
  }
  #winter{
    float: left;
  }
}
/* 
@media screen and (max-width : 520px) {
  #full{
    width: 200px;
  }
  /*
  #content {
      width:300px;
  }
   */

  #summer {
    width: 200px;
    height: 100px;
  }
  #winter{
    width: 200px;
    height: 100px;
  }
} */

