body {
    width: 100%;
    height: auto;
}
h1{
    text-align: center;
}
.wrap_id{
    text-align: center;
}
.id{
    display: inline-block;
    padding-top: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.id > div{
    width: 200px;
    float: left;
}
.userid{
    background-color: rgb(224,224,224);
}
.button{
    padding-top: 50px;
    height: auto;
    display: inline-block;
}
.wrap_btn{
    text-align: center;
}
.gologin{
    margin: 20px;
    width: 200px;
    height: 54px;
    padding-top: 10px;
    background: #3498DB;
    text-decoration-line: none;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    line-height: 2em;
    font-size: 18px;
    color: rgb(64,64,64);
}
.findpwd{
    margin: 20px;
    background: rgb(224,224,224);
    width: 200px;
    height: 54px;
    padding-top: 10px;
    text-decoration-line: none;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    line-height: 2em;
    font-size: 18px;
    color: rgb(64,64,64);
}
