body{
    width: 100%;
    height: auto;
}

h1{
    text-align: center;
}


section{
    text-align: center;
    height: auto;
}
form{
    width: 100%;
}
.name, .input {
    display: inline-block;
}
.content_name, .content_input {
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
    float: left;
    line-height: 2.5em;
}
.userid {
    background-color: rgb(224,224,224);
}
.content_input > input{
    width: 100%;
    height: 30px;
    font-size: 20px;
}


.gologin{
    margin: 0 auto;
    width: 200px;
    height: 54px;
    padding-top: 10px;
    background: #3498DB;
    text-decoration-line: none;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    line-height: 2em;
    font-size: 18px;
    color: rgb(64,64,64);
}

