*{
    color: black;
}
section{
    margin-bottom: 200px;
    position: relative;
    
}

.divfood{
    overflow: hidden;
    position: relative;
}

.divfood > img {
    width: 30%;
    float: left;
    height: 100%;
}
.secp {
    width: 70%;
    float: left;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    font-size: 19px;
    line-height: 1.6em;
    color: black;
}

.divfood:nth-child(even) {
    margin-left: 20%;
}

body {
    width: 100%;
}

.divfood {
    width: 80%;
    height: 250px;
    border: 1px solid black;
    margin-top: 25px;
    box-sizing: border-box;
}


section {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    background: white;
    margin-bottom: 20px;
}

.nextbtn {
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;
    opacity: 0;
    background: rgb(20, 181, 255);
    margin: 0 auto;
}

.VD {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
/* 이미지 슬라이드 */

.swiper-container {
    width: 518px;
    height: 385px;
    margin: 0 auto;
    margin-top: 20px;
}
#swiper_main{
    width: 100%;
    max-width: 1200px;
    height: 385px;
    background: white;
    margin: 0 auto;
}
.swiper-slide{
    margin: 0 auto;
}
.swiper-wrapper{
    margin: 0 auto;
}

strong{
font-size: 26px;
}

#header{
    width: 100%;
    height: 140px;
}
#footer{
    background: white;
}

#secp1 {
    padding-top: 45px;
}

@media screen and (min-width : 600px) and (max-width:1200px) {
    .divfood > img{
        max-width: 600px;
        width: 100%;
    }

    .divfood > p{
        max-width: 600px;
        width: 100%;
        display: block;
        
    }

    .divfood:nth-child(even) {
        margin: 0 auto;
        margin-top: 25px;
    }
    .divfood {
        max-width: 600px;
        width: 100%;
        height: auto;
        margin: 0 auto;
        margin-top: 25px;
        box-sizing: border-box;
        background: white;
    }

    #swiper_main{
        background: none;
    }

    section {
        background: none;
    }
}
@media screen and (max-width : 600px) {
    .divfood > img{
        max-width: 600px;
        width: 100%;
    }

    .divfood > p{
        max-width: 600px;
        width: 100%;
        display: block;
        
    }
    .divfood:nth-child(even) {
        margin-left: 0;
    }
    .divfood {
        width: 100%;
        height: auto;
        margin-top: 25px;
        box-sizing: border-box;
        background: white;
    }
    #swiper_main{
        background: none;
    }
    section {
        background: none;
    }
}