#IRM {
    height: 400px;  
    width: 70%;  
    margin: 0 auto;
    margin-top: 10px;
    
   }

#GRM {
    height: 400px;  
    width: 70%;  
    margin: 0 auto;
    margin-top: 10px;
}

#PRM {
    height: 400px;  
    width: 70%;  
    margin: 0 auto;
    margin-top: 10px;
}
