/* *{
    margin: 0 auto;
} */

body{
    /* width: 1200px; */
    /* height: auto; */
    background-color: #f5ebdc;
    /* position: relative; */
}

a{
    text-decoration: none; /*앵커태그 밑줄제거*/
}

#full{
    width: 100%;
    max-width: 1200px;
    /* overflow: hidden; */
    /* height: auto; */
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    
   
}

#big_name{
    margin: 0 auto;
    text-align: center;
}
/* #wrap_Basic_Exp{
    margin: 0 auto;
    width: 1100px;
} */

#Basic_Exp{
    /* border: 1px solid blue; */
    width: 1030px;
    overflow: hidden;
    /* height: 100%; */
    /* max-height: 920px; */
    margin: 0 auto;
    margin-top: 50px ;
    margin-bottom: 100px;
    /* float: right; */
}

#b_exp{
    float: left;
    /* border: 1px solid black; */
    margin: 0 auto;
    background-color: #f5ebdc;
    padding-top: 50px;
    padding-bottom: 35px;
    width: 100%;
    max-width: 430px;
    max-height: 700px;
    color: rgb(63, 65, 170);
}

#b_exp > h2 {
    padding-left: 50px;
    margin-bottom: 30px;

}
#b_exp > p{
    padding-right: 50px;
    padding-left: 50px;
    margin-right: 65px;
}

#b_img{
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 700px;
    margin: 0 auto;
    float: right;
}


#b_img > img{
    width:100%;
    max-width: 600px;
    height: 100%;
    max-height: 500px;
    float: right;
}

#content{
    /* border: 1px solid blue; */
    width: 100%;
    max-width: 1200px;   
    overflow: hidden;
    height: auto;
    margin: 0 auto;
    /* margin-bottom: 100px; */
    /* position: relative; */
    box-sizing: border-box;
    /* background-color: blanchedalmond; */
   
}

.content_section{
   
    width: 800px;
    height: auto;
    float: right;
    margin: 0 auto;
    margin-top: 1px;
    margin-bottom: 30px;
    
}

.content_box{
    /* border: 1px solid orange; */
    /* background-color: #f5ebdc; */
    background-color: white;
    width: 100%;
    max-width: 750px;

    height: auto;
    float: right;
    margin: 0 auto;
    /* margin-left: 50px; */
    padding-left: 50px;
}
.content_box >h2{
    margin-top: 10px;
    margin-bottom: 30px; 
}

.numberring{
    font-size: 3em;
    /* background-image: url(/Project/img/bookmark.png); */
    width: 50px;
    height: 50px;
    margin-bottom:30px;
    /* position: absolute; */
    white-space:nowrap;
   
}
#content_aside{
    width: 270px;
    /* height: 100%; */
    float: left;
    position: relative;
}


#content_aside_two{
   width:270px;
   float: left;
   position: fixed;
   top: 0;
}

#content_aside_sub{
    border-top: 5px solid #825A32;
    
    border-bottom: 5px solid #825A32;
    display: inline-block;
    width: 100%;
    max-width: 270px;
    height: 100%;
    /* float: right; */
    /* text-align: center; */
    background-color: #a6e0e4;
    /* border-radius: 20px 20px 20px 20px; */
    margin-bottom: 50px ;

}

#content_aside_sub > h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}




#content_aside_content >div{
    text-align: center;
    width: 100%;
    max-width: 270px;
    height: 50px;
    background-color: white;
    padding-top: 15px;
    border-radius: 20px 20px 20px 20px  ;
}



.content_img{
    width: 100%;
    max-width: 350px;
    height: auto;
    float: left;
}

.content_img >img{
    width: 100%;
    max-width: 350px;
    height: 100%;
    max-height: 250px;
}

.content_info{
    /* border: 1px solid black; */
    width: 300px;
    height: auto;
    overflow: hidden;
    float: right;
    margin-right: 30px;
}



.content_info > div {

    border: 1px solid black;
    width: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    

}

.content_info > div >dt{
    float: left;
    font-size: 14px;
}
.content_info >div > dd{
    font-size: 14px;
}

#wrap_map{
    width: 100%;
    max-width: 1100px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-left: 90px;
    /* float: right; */
}

#map{
    margin: 0 auto;
    width: 50%;
    height: 400px;
    float: right;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 90px;
    margin-bottom: 50px;
   
}


@media screen and (min-width : 1106px) and (max-width:1202px){
    

    #content{
        max-width: 1100px;
    }
    #content_aside{
        max-width: 250px;
    }
    #content_aside_two{
        max-width: 250px;
    }
    .content_section{
        max-width: 750px;
    }

    
    #wrap_map{
     
        padding-left: 0px;
        padding-right: 30px;
       
    }
}

@media screen and (max-width:1105px){
    

    #content{
        max-width: 900px;
    }
    .content_section{
        max-width: 750px;
        margin: 0 auto;
        float: none;
    } 

    .content_box{
    
        margin-bottom: 50px;
    }

    #content_aside{
        display: none;
    }
    #content_aside_two{
        display: none;
    }
    #wrap_map{
        max-width: 450px;
        padding: 0;
        
    }
  
    #map{
        
        width: 100%;
        float: none;
        padding: 0;
        margin: 50px 0px 0px 0px;
        /* margin-top: 50px; */
    }
    
}
/* min-width : 900px */
@media screen and (max-width:1032px){ /*코스 설명 부분*/
   
    #Basic_Exp{
        width: 900px;
        height: 350px;
    }
    #b_exp{
        width: 400px;
        height: 350px;

    }

    .content_box{
    
        margin-bottom: 50px;
    }
    #b_exp > h2 {
        padding-left: 15px;
        margin-bottom: 30px;
    
    }
    #b_exp > p{
        padding: 0px 20px 0px 20px;/*상우하좌*/
        margin: 0;
    }
    #b_img{
        width: 499px;
        height: 350px;
    }

}

@media screen  and (min-width : 752px) and (max-width:899px){

    #wrap_Basic_Exp{
        max-width: 600px;
        margin: 0 auto;
    }
    #Basic_Exp{
        width: 700px;
        height: 350px;
        padding: 0;
        max-width: 600px;
        margin: 0 auto;
    }

   


    #b_exp{
        float: none;
        width: 600px;
        height: 300px;
        margin: 0 auto;

       
    }

    #b_exp > h2{
        font-size: 1.5em;
    }
    #b_exp > p{
        font-size: 0.8em;
    }

    #content{
        max-width: 750px;
    }

    #b_img{
       display: none;
    }
}



@media screen and (max-width:752px){


    #wrap_Basic_Exp{
        max-width: 430px;
        margin: 0 auto;
    }
    #Basic_Exp{
        width: 430px;
        height: 350px;
        padding: 0;
  
        margin: 0 auto;
    }


    #b_exp{
        float: none;
        width: 430px;
        height: 300px;
        margin: 0 auto;

       
    }

    #b_exp > h2{
        font-size: 1.5em;
    }
    #b_exp > p{
        font-size: 0.8em;
    }

   

    #content{
        max-width: 450px;
    }


    #b_img{
        display: none;
    }

    .content_section{
        margin: 0 auto;
        max-width: 450px;
        height: auto;
        margin-bottom: 100px;
    }
    .numberring{
        font-size: 2.0em;
        margin-bottom: 0;
    }

    .content_img{
        width: 300px;
        height: 180px;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .content_box{

        width: 100%;
        max-width: 450px;

        float: none;
        margin: 0 auto;
   
        /* margin-left: 50px; */
        /* padding-left: 50px; */
        
    }

    .content_box > h2{
        width: 320px;
        line-height: 50px;
    }

    .content_info{
        float: none;
        margin-top: 30px;
        margin-right: 0px;
        
    }
}

@media screen and (max-width:449px){

    #big_name{
        width: 100%;
        max-width: 320px;
    }
    #big_name >h1{
        font-size: 1em;
    }

    #wrap_Basic_Exp{
        max-width: 320px;
     
    }
    #Basic_Exp{
        max-width: 320px;
        margin: 0 auto;
    }

    #b_exp{
        
        width: 320px;       
    }

    #content{
        max-width: 320px;
    }

    .content_section{
        
        max-width: 320px;

    }

    .content_box{

        
        max-width: 320px;
        padding-left: 0px;
        
    }

}
