*{
    margin: 0 auto;
}

body{
    /* width: 1200px; */
    /* height: auto; */
    background-color: #f5ebdc;
    position: relative;
}

a{
    text-decoration: none; /*앵커태그 밑줄제거*/
}
#full{
    width: 100%;
    max-width: 1200px;
    /* overflow: hidden; */
    height: auto;
    margin: 0 auto;
    margin-top: 200px; /*헤더 들어갈거라서 나중에 제거*/
    position: relative;
   
}

#big_name{
    margin: 0 auto;
    text-align: center;
}

#Basic_Exp{
    /* border: 1px solid blue; */
    height: 500px;
    margin-top: 50px ;
    margin-bottom: 50px;
}

#b_exp{
    float: left;
    /* border: 1px solid black; */
    background-color: #f5ebdc;
    padding-top: 50px;
    width: 100%;
    max-width: 433px;
    height: 500px;
    color: rgb(63, 65, 170);
}

#b_exp > h2 {
    padding-left: 50px;
    margin-bottom: 30px;

}
#b_exp > p{
    padding-right: 50px;
    padding-left: 50px;
    margin-right: 65px;
}

/* #b_img{
    width: 100%;
    max-width: 766px;
} */


#b_img > img{
    width:100%;
    max-width: 766px;
    height: 100%;
    max-height: 500px;
    /* float: right; */
}

#content{
    /* border: 1px solid blue; */
    width: 1200px;   
    overflow: hidden;
    height: auto;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    background-color: blanchedalmond;
   
}

.content_section{
    /* border: 1px solid orange; */
    width: 800px;
    height: auto;
    float: left;
    margin: 0 auto;
    margin-top: 1px;
    margin-bottom: 10px;
    
}

.content_box{
    /* border: 1px solid orange; */
    background-color: #f5ebdc;
    width: 700px;
    height: auto;
    float: left;
    margin: 0 auto;
    margin-left: 47px;
}
.content_box >h2{
    margin-top: 10px;
    margin-bottom: 30px; 
}

.numberring{
    font-size: 3em;
    /* background-image: url(/Project/img/bookmark.png); */
    width: 50px;
    height: 50px;
    margin-bottom:30px;
    /* position: absolute; */
    white-space:nowrap;
   
}
#content_aside{
    width:300px;
    height: 100%;
    float: right;
    position: relative;
}

#content_aside_two{
  
   width:300px;
   float: right;
   position: fixed;
   top: 0;
   right: 350px;
}

#content_aside_sub{
    border-top: 3px solid salmon;
    
    display: block;
   
    width: auto;
    height: auto;
    float: right;
    /* text-align: center; */
    /* background-color: #0078aa; */
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 50px ;

}

#content_aside_sub > h2 {
    text-align: center;
}




#content_aside_sub > div{
   
    /* background-color: white;  */
    border-radius: 20px 20px 20px 20px;   
}

.content_img{
    width: 350px;
    height: auto;
    float: left;
}

.content_img >img{
    width: 350px;
    height: auto;
}

.content_info{
    /* border: 1px solid black; */
    width: 300px;
    height: auto;
    overflow: hidden;
    float: right;
    margin-right: 30px;
}



.content_info > div {

    border: 1px solid black;
    width: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    

}

.content_info > div >dt{
    float: left;
    font-size: 14px;
}
.content_info >div > dd{
    font-size: 14px;
}

#map{
    margin: 0 auto;
    width: 50%;
    height: 400px;
    float: left;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}


@media screen and (max-width:1919px){
    #content_aside_two{display: none;}
}
