
#headmenu{ /*상단 고정 메뉴*/
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

body{
    font-family: sans-serif;
    margin: 0 auto;
    background-color: azure;   
    
}

#titleh1 {
    text-align: center;
    /* color: black; */
}



#full_section{ /*SPOT 정보 전체 틀*/
    width: 100%;
    max-width: 1080px;
    height: 100%;
    margin: 0 auto;
    /* border: 1px solid black; */
    /* position: relative;  */
    overflow: hidden;

}

#left_section{ /*(왼쪽)실제 해당 spot의 정보 부분*/
    float: left;
    width: 100%;
    max-width: 660px;
    margin: 0 auto;
    position: relative;
    /* margin-left: 10px; */
    background-color: #E2EAEE;

}



#spot_name{ /*관광지명 */
    width: 500px;
    font-style: "Cursive";
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    /* border: 1px solid black; */

}

#spot_full{
    width: 100% ;
    max-width: 700px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    /* border: 1px solid black; */
    /* text-align: center; */
    /* position: relative; */
    float: left;

}

#spot{

    display: block;
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 0 auto;
    float: left;
    margin-left: 70px;
    
    
}


#spot_img img{
    width: 100%;
    max-width: 502px;
     
    float: left;
    height: 300px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    
}

#explanation{ /*해당 SPOT 설명*/
    width: 500px;
    /* height: auto; */
    line-height: 2.3em;
    float: left;
    margin: 0 auto;
    margin-top: 30px;
    margin-right: 10px;
    margin-bottom: 50px;
    text-align: left;
    /* border: 1px solid black; */
   
}

#information{
    border: 5px double rgb(153, 164, 226);

    float: left;
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px ;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 70px;
    /* border: 1px solid black; */
}


#information >dt{ /*정보 div의 주소, 교통편 dt*/
    font-size: 20px;
    font-weight: bold;

}

/*========================================================*/


#right_section{ /*관련장소 부분*/
    width: 302px;
    float: right;
    /* border: 1px solid black; */
    margin: 0 auto;
    /* margin-top: 0px; */
    /* margin-right: 20px; */
  

}

#relation{
    border:7px inset  rgb(153, 164, 226);
    margin-bottom: 20px;
}






#relation img{ /*관련장소의 이미지*/
    /* border:7px inset  rgb(153, 164, 226); */
    height: auto;
    width: 300px;
    opacity: 1;
    /* border-radius: 20px 20px 20px 20px; */

}

#story{ /*관련장소 설명*/
    /* border:7px inset  rgb(153, 164, 226); */
    width: auto;
    height: auto;
    /* margin-bottom: 10px; */
    padding: 10px;
    background-color: white;

    /* border-radius: 20px 20px 20px 20px; */

}

#story > p {
    /* border-radius: 20px 20px 20px 20px; */
    /*긴 글자 줄이기 삼총사*/
    /* font-size: 0.5em sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    text-overflow: ellipsis;
    line-height:1.4em;
    max-height: 4.8em; 
    overflow: hidden; 
    display: -webkit-box;  
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
}

#na{

    margin-top: 20px;
    font-size: 0.8em;
    
}

#Classification{
    font-size: 0.8em;
}

#footer {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
    float: left ;
}

/* 
@media screen and (min-width: 992px) and (max-width: 1199px) {
    #full_section {
        width:100%;
        max-width: 1199px;
        margin: 0 auto;
    }

    
} */

@media screen and (min-width: 660px) and (max-width: 991px) {
    #full_section {
        width:100%;
        max-width: 670px;
    }

   
    #right_section {
        margin-top: 30px;
        /* margin-right: 190px; */
        float: none;
        width: 100%;
        max-width: 630px;
        
    }

    #right_section > h3{
        text-align:center;
    }

    #relation{
        margin-left: 10px;
        width: 302px;
        float: left;
    }
}
@media screen and (min-width: 502px)and (max-width: 660px) {

    #full_section {
        width: 100%;
        max-width: 500px;
    }

    #spot{
        margin-left: 0;
        margin: 0 auto;
        /* text-align: center; */
    }
 
    #right_section {
        margin-top: 30px;
        /* margin-right: 190px; */
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        
    }

    #right_section > h3{
        text-align:center;
    }

    #explanation{
        width: 100%;
        max-width: 400px;
        /* text-align: center; */
        /* margin: 0 auto; */
        /* padding-right: 20px; */
        margin-left: 50px;
        /* margin-right: 50px; */
    }
   
    #relation{
        margin: 0 auto;
        /* margin-left: 10px; */
        width: 302px;
        /* float: left; */
        margin-bottom: 20px;
    }

    #information{

        widows: 100%;
        max-width: 400px;
        margin-left: 50px;
        padding-left: 20px;

    }

    #spot_img img{
        display: none;
    }
}


@media screen and (max-width: 502px) {

    #full_section {
        width: 100%;
        max-width: 320px;
    }

    /* #spot{
        margin-left: 0;
        margin: 0 auto;
        /* text-align: center; */
 
    #right_section {
        margin-top: 30px;
        /* margin-right: 190px; */
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
        
    }

    #right_section > h3{
        text-align:center;
    }

    #explanation{
        width: 100%;
        max-width: 320px;
        /* text-align: center; */
        /* margin: 0 auto; */
        /* padding-right: 20px; */
        margin-left: 50px;
        /* margin-right: 50px; */
    }
   
    #relation{
        margin: 0 auto;
        /* margin-left: 10px; */
        width: 302px;
        /* float: left; */
        margin-bottom: 20px;
    }

    #information{

        widows: 100%;
        max-width: 400px;
        margin-left: 50px;
        padding-left: 20px;

    }

    #spot_img img{
        display: none;
    }
}


/* @media only screen and (max-width: 607px) {
    #spot_img img{
        display: none;
    }
} */

/* @media screen and (min-width: 992px) and (max-width: 1199px) {
    .header-area .newsbox-main-menu .header-add-area {
      margin-left: 20px;
      max-width: 250px; } }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .header-area .newsbox-main-menu .header-add-area {
      margin-left: 0;
      margin-top: 15px; } }
  @media  screen and (max-width: 767px) {
    .header-area .newsbox-main-menu .header-add-area {
      margin-left: 0;
      margin-top: 15px; } } */

