/* 초기화 */
*{ 
  text-decoration-line: none;
  }
/* 바디 기본 설정 */

body{
  background-color: #C2DCE2;
  text-align: center;
  width: 100%;
}

.sub_title {
  margin: 0 auto;
  padding-top: 50px;
  font: bold 30px/1.6 arial; 
  color: black;
  text-align: center;
  cursor: pointer;
}
.wrap {
  text-align: center;
}
.content1{
  display: inline-block;
  padding-bottom: 50px;
}
#fnc1 > span, #fnc2 > span{
  float: left;
  border: 1px solid black;
}
select, div > button, span{
  margin: 5px;
  height: 40px;
  padding: 5px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3px;
}
#Serch{
  width: 80px;
  float: left;
  margin: 0 60px;
  background: white;
  border: none;
}
@media screen and (min-width: 1161px) {
  /* 데스크탑에서 사용될 스타일을 여기에 작성합니다. */
  #map {
    float: left;
    height: 500px;
    width: 500px;
  }
  #maps{
    display: none;
    float: left;
    height: 500px;
    width: 700px;
  }
  
  #fnc1 , #fnc2 {
    padding-bottom: 100px;
    margin: 0;
    overflow: auto;
    width: 200px;
  }
}
@media screen and (max-width: 1160px) {
  #map {
    float: left;
    height: 500px;
    width: 500px;
  }
  #maps{
    display: none;
    float: left;
    height: 500px;
    width: 700px;
  }
  #fnc1 , #fnc2 {
    clear: both;
    margin: 0 auto;
    overflow: auto;
    width: 200px;
  }
  #Serch{
    float: right;
    margin: 0 auto;
  }

}
@media screen and (max-width: 500px) {
  #map{
      clear: both;
      margin: 0;
      height: 320px;
      width: 320px;
  }
  #maps{
      clear: both;
      margin: 0;
      height: 320px;
      width: 320px;
  }
  #fnc1 , #fnc2 {
    margin: 0 auto;
    clear: both;
  }
}