/* 초기화 */
*{ 
    text-decoration-line: none;
    }
/* 바디 기본 설정 */
body{
    text-align: center;
    width: 100%;
    /* background-color: #e5f4ff;  */
}
/*중간 제목 ~방법*/
.sub_title {
    margin: 0 auto;
    padding-top: 50px;
    font: bold 30px/1.6 arial; 
    color: black; 
    text-align: center;
    cursor: pointer;
}
.wrap{
    text-align: center;
}
.content{
    display: inline-block;
}
.map{
    margin: 30px;
    float: left;
}
#map1, #map2, #map3 { 
    margin: 5%;
    height: 320px;
    width: 320px;
}
h4 {
    height: 60px;
    width: 320px;
    margin: 1%;
    font: bold 20px/1.6 arial; 
    color: black; 
    text-align: center;
}