body{
    width: 100%;
}

h1{
    text-align: left;
}


section{
    text-align: center;
    height: 500px;
    margin-left: 40%;
}

.content_name, .content_input {
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
    float: left;
    line-height: 2.5em;
}
.userid {
    background-color: rgb(224,224,224);
}
.content_input > input{
    height: 30px;
    font-size: 20px;
}


.gologin{
    margin: 50px 80% 0 0;
    width: 200px;
    height: 54px;
    padding-top: 10px;
    background: #3498DB;
    text-decoration-line: none;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    line-height: 2em;
    font-size: 18px;
    color: rgb(64,64,64);
}

