body{
    width: 1200px;
}
h1{
    text-align: center;
}

section{
    text-align: center;
    height: 100px;
    margin-left: 40%;
}

.content_name, .content_input, .content_sub{
    margin: 10px;
    font-weight: bold;
    float: left;
    line-height: 2.5em;
}

.content_input > input{
    height: 30px;
    font-size: 25px;
}

.find{
    margin-left: -30%;
    width: 200px;
    height: 54px;
    padding-top: 10px;
    background: #3498DB;
    text-decoration-line: none;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    line-height: 2em;
    font-size: 18px;
    color: rgb(64,64,64);
}
#telceck {
    margin: 5px;
    width: 15px;
    height: 15px;
}