body{
    width: 100%;
}

h1{
    text-align: center;
}


section{
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 50px;
}

.content_name, .content_main, .content_button {
    font-weight: bold;
    font-size: 20px;
    float: left;
    line-height: 2.5em;
}
.name, .main, .button, .btn{
    display: inline-block;
}
.content_name > div {
    margin: 10px;
}
.userid, .username, .userphone, .useremail {
    width: 200px;
    margin: 10px;
    background-color: rgb(224,224,224);
}
.PW{
    padding-top: 30px;
    margin: 20px;
    text-align: center;
}
.change ,#change {
    margin: 5px;
    width: 50px;
    height: 30px;
    background-color: rgb(94,94,94);
    text-decoration-line: none;
    text-align: center;
    border-radius: 4px;
    line-height: 2em;
    font-size: 14px;
}
input{
    height: 33px;
    margin: 10px;
    font-size: 20px;
    width: 200px;
}

button {
    background: rgb(224,224,224);
}
.btn > div{
    margin: 30px;
    float: left;
}

.reboke{
    width: 100px;
    height: 30px;
    background-color: rgb(224, 224, 224);
    text-decoration-line: none;
    text-align: center;
    border-radius: 4px;
    line-height: 2em;
    font-size: 14px;
}

.cancel {
    background: rgb(224,224,224);
    width: 150px;
    height: 54px;
    padding-top: 10px;
    text-decoration-line: none;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    line-height: 2em;
    font-size: 18px;
    color: rgb(64,64,64);
}

.sign_up {
    width: 150px;
    height: 54px;
    padding-top: 10px;
    background: #3498DB;
    text-decoration-line: none;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    line-height: 2em;
    font-size: 18px;
    color: rgb(64,64,64);
}
