h1{
    text-align: center;
}

section{
    width: 100%;
    height: 250px;
    text-align: center;
    padding-top: 50px;
}

.ToUAT{
    width: 75%;
    margin: 0 auto;
    text-align: left;
    border: 1px solid black;
    background-color: rgb(175, 172, 172);
}
.wrap {
    display: inline-block;
}
.content_name{
    float: left;
    width: 250px;
    font-weight: bold;
    font-size: 20px;
}
.content_name > div {
    margin : 10px;
}
#checkdong {
    margin: 40px;
    height: 20px;
    width: 20px;
}
.content_main{
    padding-top : 10px;
    height: 221px;
    float: left;
}
.userid, .username{
    font-weight: bold;
    font-size: 20px;
    width: 250px;
    margin: 10px;
    background-color: rgb(224,224,224);
}
.dong{
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    width: 250px;
    margin: 10px;
    background-color: rgb(224,224,224);
}
.pwd{
    width: 250px;
    height: 30px;
    font-size: 20px;
}


.btn{
    height: 64px;
    margin: 0 auto;
    text-align: center;
}

.sign_up {
    margin: 0 auto;
    width: 200px;
    height: 54px;
    padding-top: 10px;
    background: #3498DB;
    text-decoration-line: none;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    line-height: 2em;
    font-size: 18px;
    color: rgb(64,64,64);
}
