*{
    margin: 0 auto;
}

a{
    text-decoration: none;
}

body{
    width: 1200px;
    /* height: auto; */
    background-color: cadetblue;
}

#full{
    border: 1px solid black;
    background-color: white;
    width: 1200px;
    overflow: hidden;
    height: auto;
    margin: 0 auto;
    margin-top: 200px; /*헤더 들어갈거라서 나중에 제거*/
}

#full > h1{
    text-align: center;
}
#maturi_img{
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;

}

#Expl{
    width: 820px;
    margin-top: 30px;
}
#info{
    width: 820px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #f5f55f;
    
}

#info > dt{
    float: left;
}