*{ margin: 0; padding: 0; }

ul{
    list-style: none;
    position: absolute;/**/
    top: 60%;
    left: 39.5%; 
}

li{
    float: left;
    
    
}
#header{
    width: 960px; margin: 0 auto;   /*중앙정렬*/
    text-align: center; /*텍스트 가운데 정렬*/
    height:130px;
    background-color: yellow;
    position: relative;
}

#headmenu{ /*상단 고정 메뉴*/
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

body{
    font-family: sans-serif;
    margin: 0 auto;
    background-color: azure;   
    
}




#full_section{ /*SPOT 정보 전체 틀*/
    width: 1080px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid black;
    position: relative; /**/
    overflow: hidden;

}

#left_section{ /*(왼쪽)실제 해당 spot의 정보 부분*/
    float: left;
    width: 650px;
    margin: 0 auto;
    position: relative;
    /* margin-left: 10px; */
   

}



#spot_name{ /*관광지명 */
    width: 500px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid black;

}

#spot_full{
    width: 600px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid black;
    text-align: center;
    /* position: relative; */
    float: left;

}

#spot{

    display: inline-block;
    width: 500px;
    height: auto;
    margin: 0 auto;
    /* float: left; */
    /* position: absolute; */
    
    
}


#spot_img img{
    width: 502px;
     
    float: left;
    height: 300px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    
}

#explanation{ /*해당 SPOT 설명*/
    width: 500px;
    /* height: auto; */
    float: left;
    margin: 0 auto;
    margin-top: 30px;
    margin-right: 10px;
    margin-bottom: 50px;
    border: 1px solid black;
   
}

#information{
    float: left;
    width: 600px;
    height: 300px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
    border: 1px solid black;
}

/*========================================================*/


#right_section{ /*관련장소 부분*/
    width: 302px;
    float: right;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 30px;
    margin-right: 20px;
  

}






#relation img{ /*관련장소의 이미지*/
    height: auto;
    width: 300px;
    opacity: 1;
    border-radius: 20px 20px 20px 20px;

}

#story{ /*관련장소 설명*/
    border: 1px solid black;
    width: auto;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;

}

#story > p {
    border-radius: 20px 20px 20px 20px;
    /*긴 글자 줄이기 삼총사*/
    font-size: 0.5em sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#na{
    font-size: 0.8em;
}

#Classification{
    font-size: 0.8em;
}

#footer{
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 10px;
    width: 300px;
    height: 100px;
    position: absolute;
}



