body {background-color:#e5f4ff;}

figcaption {text-align:center;}

#main_section {
    width:100%; margin:0 auto; overflow:hidden; 
}

.left_aside {
    width:300px; float:left; overflow:hidden;
}

.left_aside > .his_pic01 {
    float:left; margin-top:40px; left:60px;
}

.left_aside > .his_pic02 {
    float:left; margin-top:30px; left:60px;
}

.his_main {
    width:500px; margin:20px auto; 
}

.his_main > h1 {text-align:center;}

.his_main > p {margin:20px auto; padding:20px auto;}

.right_aside {
    width:300px; float:right; overflow:hidden;
}

.right_aside > .his_pic03 {
    float:right; margin-top:80px; right:60px;
}

.right_aside > .his_pic04 {
    float:right; margin-top:80px; padding-right:60px;
}

.right_aside > .his_pic05 {
    float:right; margin-top:40px; padding-right:60px;
}