/* body */
body {background-color:#e5f4ff;}

#main_section {
    width:100%; margin:0 auto; overflow:hidden;
}

.main-div{
    width: 100%;
    margin: 10px auto;
}

.container{
    border: 2px solid black;
    background-color: white;
}

h1 {text-align:center;}

.page {margin:40px auto; text-align:center;}