/* body */
body {background-color:#e5f4ff;}

#main_section {
    width:100%; margin:0 auto; overflow:hidden; background-color:#e5f4ff;
}

.table {
    margin:20px auto;
    background-color:white;
}

.th { width : 105px;}


h1 {text-align:center;}
td {text-align:center;}

/* .page {margin:40px auto; text-align:center;} */

/* #chm_main {
    width:600px; margin:20px auto;
} */